.App h1 {
  margin-bottom: 20px;
  text-align: center;
}

.container {
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

/* Datek */
.datek {
  position: absolute;
}

.impact {
  padding-top: 300px;
}

.datek h3 {
  text-align: left;
}

.textArea textarea {
  font-size: 14px;
}
